doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='css/HW_7_1.css')
    script(async src='js/HW_7_1.js')
    title HW 7_1
 
  body
    div#now Пример
    div#now1 Пример1
    div#now2 Пример2
  script.
     var clock = new Clock();
      clock.start();
  
