
  .clock {
    margin: 0px auto;
    background-color: pink;
    height: 62px;
    width: 152px;
    }
  .scoreboard {
    background-color: #e8d568;
    text-align: center;
    height: 30px;
    width: 150px;
    border: 1px solid #d6e9c6;
    }
  .button {
    background-color: #c5b881;
    height: 30px;
    width: 50px;
   }
  #now, #now1, #now2, #now3 {
    border: 1px solid #d6e9c6;
    height: 100px;
    width: 200px;
   }
  #now {
    background-color: #5f492d;
    }
  #now1 {
    background-color: #89070b;
    }
  #now2 {
    background-color: #5f492d;
    }
 
 